<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizza Shop Menu</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

  <script src="https://kit.fontawesome.com/807cd7a84e.js" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="/css/style_test.css">
</head>
<body>
  <header >
    <div class="container">
      <img src="/assets/logo.png" alt="Pizza Shop Image" class="img-fluid">
    </div>
  </header>

  <main class="py-5">
    <div class="container">
        <button id="translateButton">Türkçeye Çevir</button>

      <section class="mb-5 section-border">
        <h2 class="mb-4 pizza-text">PIZZAS</h2>
        <div class="row">
          <div class="col-md-6 col-lg-4 my-3">
            <div class="card">
              <img src="/assets/margarita.png" alt="Margarita Pizza" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title">Margherita</h3>
                <p class="card-text">Ingredients: Homemade tomato sauce,  Mozarella, String cheese, Tomato, Basil</p>
                <p class="card-text">Price: &#x20BA; 170</p>
                <button class="buton">Add to Cart</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 my-3">
            <div class="card">
              <img src="/assets/3_cheesy.png" alt="3 Cheese Pizza" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title">3 CHEESY</h3>
                <p class="card-text">Ingredients: Homemade tomato sauce, String cheese, Feta with black cumin, Kolot cheese</p>
                <p class="card-text">Price: &#x20BA; 180</p>
                <button class="buton">Add to Cart</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 my-3">
            <div class="card">
              <img src="/assets/LUNA.png" alt="Barbecue Chicken Pizza" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title">LUNA</h3>
                <p class="card-text">Ingredients:Homemade tomato sauce, String cheese, Kolot cheese, Oyster mushroom, Maldon salt</p>
                <p class="card-text">Price: &#x20BA; 190</p>
                <button class="buton">Add to Cart</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 my-3">
            <div class="card">
              <img src="/assets/MAGMA.png" alt="Pepperoni Pizza" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title">MAGMA</h3>
                <p class="card-text">Ingredients:Homemade tomato sauce, Kolot cheese, String cheese, Mushroom, Butcher Sucuk, Maldon salt</p>
                <p class="card-text">Price: &#x20BA; 200</p>
                <button class="buton">Add to Cart</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 my-3">
            <div class="card">
              <img src="/assets/hawaiana.png" alt="Pepperoni Pizza" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title">HAWAIIANA</h3>
                <p class="card-text">Ingredients:Homemade tomato sauce, String cheese, Veal ham, Pineapple slices</p>
                <p class="card-text">Price: &#x20BA; 200</p>
                <button class="buton">Add to Cart</button>
              </div>
            </div>
          </div>
          
         
        </div>
      </section>

      <div class="cart sticky-top">
        <h2 class="mb-4">Cart</h2>
        <ul id="cart-items" class="order-lg-first"></ul>
        <div class="total-price">Total:  &#x20BA; 0.00</div>
        <button id="place-order" class="btn btn-danger">Take Away</button>
    </div>
    </div>



   
  </main>
  <footer class="footer-distributed">
    <div class="footer-left-middle">
        <img src="/assets/kitecamplogo.png" alt="Pizza Shop Image" class="logo-img">
        <div class="footer-social-icons">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fas fa-globe"></i></a>  <!-- There's no specific website logo in Font Awesome, but this globe could work -->
        </div>
        <p class="footer-company-name">KITE CAMP © 2015</p>
    </div>
    <div class="footer-right-middle">
      <div class="footer-location">
        <span>
          <i class="fa fa-map-marker"></i>
        </span>
        <span>
          <p><a href="https://www.google.com/maps?ll=38.330668,26.650582&z=16&t=m&hl=tr&gl=TR&mapclient=embed&cid=17104064006288143373" target="_blank">Gülbahçe, 12075/1 sok no:5, 35433 Urla/İzmir</a></p>
        </span>
      </div>
        <div class="footer-location">
          <span>
            <i class="fa fa-phone"></i>
          </span>
        <span>
          <p><a href="tel:+15555555555">+905326065579</a></p>
        </span>
        </div>
        <div class="footer-location">
        <span>
            <i class="fa fa-envelope"></i>
            </span>
            <span> 
              <p><a href="mailto:support@company.com">info@urlakitecamp.com
              </a></p>
            </span>


        </div>
    </div>
</footer>
<div class="footer-bottom">
    <p class="footer-company-about">
        Tüm hakları saklıdır &copy; 2023 Erberk Elbir
    </p>
    <div class="footer-icons">
        <a href="https://www.instagram.com/erberkelbir/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/erberk-elbir-0b46b4181/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/erberkelbir" target="_blank"><i class="fa fa-github"></i></a>
    </div>
</div>
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>