/* Color Palette */
:root {
    --primary-color: #ffcc29; /* Yellow */
    --secondary-color: #f5720f; /* Orange */
    --bg-color: #f9f9f9; /* Off-white */
    --text-color: #333; /* Dark grey */
  }
  
  /* Global Styles */
  body {
    background-color: #EFE1D1;
    font-family: Arial, sans-serif;
    padding-bottom: 40px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1,
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 36px;
    color: var(--primary-color);
  }
  
  h2 {
    font-size: 24px;
    color: var(--secondary-color);
  }
  
  .product-list {
    border: 1px solid var(--bg-color);
    background-color: var(--bg-color);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
  }
  
  .card {
    border: 1px solid var(--bg-color);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-weight: bold;
    color: var(--text-color);
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: var(--text-color);
    margin-bottom: 20px;
  }
  
  .card-image {
    width: 100%;
  }
  
  .shopping-cart {
    border: 1px solid var(--bg-color);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .place-order {
    background-color: var(--secondary-color);
    color: #FFF;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .place-order:hover {
    background-color: #990000;
  }
  
  /* Responsive Styles */
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .product-list {
      padding: 10px;
    }
  
    .card {
      margin-bottom: 10px;
    }
  
    .card-title {
      font-size: 16px;
    }
  
    .card-text {
      font-size: 14px;
    }
  
    .place-order {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  