@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add a nice font */
body {
  font-family: 'Amatic SC', cursive;
  background-color: #FBEFCE;
      scroll-behavior: smooth;

  opacity: 0;
  transform: translateY(50px);
  animation: fadeInSlideUp 2s ease-out forwards;
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-title{
  font-size: 2.3rem;
  font-weight: 700;

}
.card-text{
  font-size: 1.6rem;
  font-weight: 500;
}

/* Add animation to the header */
header {
  text-align: center;
  display: flex;
  flex-direction: row;
  animation: fadein 1s;
}

#translateButton{
  text-align: center;
  padding: 0 3%;
  width: auto;
  height: 50px;
  background-color: #FBEFCE;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  border: 1px solid #222121;
  border-radius: 10px;
}
#translateButton:hover{
  transform: scale(1.05);

}


#rectx{
  display: flex;
  text-align: center;
  padding: 0 3%;
  width: auto;
  height: 50px;
  background-color: #FBEFCE;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  border: 1px solid #222121;
  border-radius: 10px;
  align-items: center;
}
#rectx:hover{
  transform: scale(1.05);

}


@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container{
  margin-top: 3%;
  text-align: center;
}

/* Add animation to the cards */
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3% 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
}
.card-body{
  flex : 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.card-img-top{
  width: 250px;
  height: 250px;
}

.card:hover {
  transform: scale(1.05);
}

/* Add a hover effect to the buttons */
.buton {
  height: 40px;
  min-width: 120px;
  transition: background-color 0.3s ease;
  color: #fff;
  background-color: #832f38;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
}

.buton:hover {
  background-color: #b86767;
}

.buton:focus {
  outline: none;
}

.buton:active {
  transform: scale(0.95);
}
.section-border {
  text-align: center;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 3% 5%;
  margin-bottom: 20px;
  
}
.pizza-text{
  font-size: 42px;
  font-weight: 800;
  margin-bottom:-15px;


}
/* Add a nice background color to the cart */
.cart {
  flex-flow: column;
  align-items: center;
  padding: 20px;
  min-height: auto;
  border-radius: 10px;
  border: 1px solid #f1efef;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 90px;
}

/* Style the cart items */
#cart-items {

  list-style: none;
  padding: 0;

}

#cart-items li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e9e8e8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.cart .mb-4{
  font-size: 42px;
  font-weight: 800;
}

/* Style the "Place Order" button */
#place-order {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #832f38;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 30px;
}

#place-order:hover {
  background-color: #b86767;
}

#place-order:active {
  
  transform: scale(0.95);
}

.total-price{
  font-size: 18px;
  padding: 1% 1%;
}

.img-fluid {
  width: 250px;
  height: 250px;
  margin-bottom: -50px;
  /* Retain the scale property */
  /* Add rotation animation */
  animation: rotation 2s ease-out 1;
}

/* Define the cycle for the rotation animation */
@keyframes rotation {
  0% { transform: rotate(0deg) scale(0.5); }
  100% { transform: rotate(360deg) scale(1); }
}


.logo-img{
  width: 200PX;
  height: 200px;
  
}
.footer-distributed {
  font-family: 'montserrat', Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #a7a09c;

  color: #000000;
}
.footer-location span p {
  color: #000;
}
.footer-left-middle,
.footer-right-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
  margin-right: 3%;
}

.footer-social-icons{
  margin: 3% 5%;
  padding: 3% 5%;
  
}
.footer-social-icons a svg {
  color: #000;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  
}
.footer-social-icons a svg:hover {
  color: #f5f4f4;
  animation-duration: 5s;
  transform: scale(1.2);
}
.footer-social-icons a svg:active {
  color: #f5f4f4;
  animation-duration: 5s;
  transform: scale(0.90);
}
.logo-img,

.footer-location{
  font-family:  sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  min-width: none;
  color: #fff;
  justify-content: space-around;

}
.footer-location a {
  color: #000;
  transition: transform 0.3s ease;
}

.footer-location a:visited {
  color: #808080;
}

.footer-location a:hover,
.footer-location a:focus,
.footer-location a:active {
  transform: scale(0.90);
}
.footer-location span p {
  margin-left: 10px;
}


.footer-company-name {
  order: 2;
}



.footer-icons a {
  padding: 0 10px;
}

.footer-icons svg {
  font-size: 24px; 
  color: black;/* Adjust this value to increase/decrease the size of the icons */
}
.footer-icons svg:hover {
  color: #f5f4f4;
  animation-duration: 5s;
  transform: scale(1.2);
}
.footer-icons svg:active {
  color: #f5f4f4;
  animation-duration: 5s;
  transform: scale(0.90);
}

.footer-bottom {
  font-family:  sans-serif;
  width: 100%;
  background-color: rgb(177, 176, 176);
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
  font-size: 12px;
  padding: 20px;
}
.footer-bottom h6{
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #000000;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .footer-distributed {
    flex-direction: column;
  }

  .footer-left-middle,
  .footer-right-middle {
    margin: 20px 0;
  }

  .logo-img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .logo-img {
    width: 100px;
    height: 100px;
  }
}


.fa-shopping-cart{
  font-size: 24px;
  color: #1b1b1b;
  margin-right: 10px;
  margin-left: 10px;
}
.notification {
  position: relative;
  margin-left: -0px;
  margin-top: -15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  background: #ffffff;
  border-radius: 50%;
  padding: 5px 10px;
  text-align: center;
  min-width: 25px;
  height: 25px;
}

a {
  text-decoration: none;
}

#rectx a {
  color: inherit;
  text-decoration: none;
}